<%= render "shared/progressbar"  %>
<div class="container p-5">

  <h3>Advanced options</h3>
  <h5>Languages</h5>

  <%= simple_form_for @booking_options do |f|%>
    <div class="d-flex languages">
      <% ['English', 'Spanish', 'Catalan'].each do |lan| %>
        <input type="checkbox" class="hidden" name="booking_option[languages][]" id="check_<%= lan %>" value="<%= lan %>">
        <label for="check_<%= lan %>" class="general-card lingo">
          <%= lan %>
        </label>
      <% end %>
    </div>


    <h5>Audience</h5>
      <div class="d-flex audiences">
        <% ['Adults', 'All ages', '16 +', '14 +'].each do |aud| %>
          <div class="general-card age">
            <input type="checkbox" name="booking_option[audiences][]" id="check_<%= aud %>" value="<%= aud %>">
            <label for="check_<%= aud %>"><%= aud %></label>
          </div>
        <% end %>
      </div>
    <%= f.submit 'Next', class: "btn btn-primary form form-control" %>
  <% end %>

</div>

<%= render "shared/footer"  %>

