<%= simple_form_for @booking_options do |f|%>
  <% ['english', 'spanish', 'catalan'].each do |lan| %>
    <input type="checkbox" name="booking_option[languages][]" id="check_<%= lan %>" value="<%= lan %>">
    <label for="check_<%= lan %>"><%= lan %></label>
  <% end %>
  <% ['adults', 'family', 'all ages'].each do |aud| %>
    <input type="checkbox" name="booking_option[audiences][]" id="check_<%= aud %>" value="<%= aud %>">
    <label for="check_<%= aud %>"><%= aud %></label>
  <% end %>
  <%= f.submit 'Next'%>
<% end %>
