<div class= "navbar-desktop">
  <nav class="navbar navbar-expand fixed-top">
    <div class="navbar-brand pt-0">
      <%= link_to "helio", root_path, class: "navbar-brand pt-0" %>
    </div>
    <ul class="navbar-nav ml-auto align-content-right mr-5">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link button-secondary ml-1" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", user_session_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link button-secondary ml-1" %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>

<div class="container confirmation">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <lottie-player id="animation" src="https://assets8.lottiefiles.com/packages/lf20_yRlEmx.json"  background="transparent"  speed="1"  style="width: 600px; height: 600px;"  loop  autoplay></lottie-player>
  <h4 class="text-loading">You have completed the reservation successfully!</h4>
  <i class="far fa-check-circle"></i>
  <div class="my-3 py-3">
    <%= link_to "GO TO PANEL EVENTS", dashboard_path, class: "button-rounded d-block fixed-button" %>
  </div>
</div>
