<div class="progressbar-wrapper">
  <div class="line">
  </div>
  <%= link_to "1", new_booking_date_path, class: "pearl #{'active' if step == 1}" %>
  <%= link_to "2", new_booking_category_path, class: "pearl #{'active' if step == 2}" %>
  <%= link_to "3", new_booking_option_path, class: "pearl #{'active' if step == 3}" %>
  <%= link_to "4", new_booking_budget_path, class: "pearl #{'active' if step == 4}" %>
  <%= link_to "5", new_booking_date_path, class: "pearl #{'active' if step == 5}" %>
</div>
