<div class= "navbar-desktop">
  <nav class="navbar navbar-expand fixed-top">
    <div class="navbar-brand pt-0">
      <%= link_to "helio", root_path, class: "navbar-brand pt-0" %>
    </div>
    <ul class="navbar-nav ml-auto align-content-right mr-5">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link button-secondary ml-1" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", user_session_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link button-secondary ml-1" %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>

<div class="container" data-controller="events">
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 desktop-center">
      <div class="px-3 mt-3" >
        <h2>Past Events</h2>
        <p>Select the categories to filter the results you want to see</p>          
      </div>
      <div class="grid-categories">
        <% Category.all.each do |category| %>
          <p class="past-events-btn cell py-1 mb-0" data-category="<%= category.id %>"  data-action="click->events#filter">
            <%= category.name.split("+").first %>
          </p>                  
        <% end %>
      </div>
      <% @events.each do |event| %>
        <div class="grid-events">
          <div class="my-3 opacity-animation" data-category="<%= event.category.id %>" data-events-target="listItems" >
            <div class="general-card event-title event-card p-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path event.photo.key %>')">
              <h4 class="past-event-card-home"><%= event.title %></h4>
              <p class="pr-4 mb-0"><%= event.description.truncate(70) %></p>
              <div class="d-flex justify-content-between">
                <a href="events/<%=event.id%>"><i class="fas fa-chevron-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
