<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="bg-white p-3 mb-3">
                <h3><%= @event.title %></h3>
            </div>
            <%= cl_image_tag @event.photo.key, crop: :fill, :class => "d-block w-100 show-banner my-3" %>
            <div class="bg-white p-3">
                <p><%= @event.description %></p>
            </div>
            <div class="bg-white p-3 mt-3">
                <p><i class="fas fa-map-marker-alt pr-2"></i><%= @event.address %></p>
            </div>

            <div id="map"
                class="map-show-page"
                style="width: 100%; height: 500px;"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
        </div>
        <h2>Reviews</h2>
         <div class="col-12">
           <div class="general-card review-card p-1 w-100">
             <div class="d-flex justify-content-center">
               <div class="d-flex align-items-center review-pic">
                 <img src="https://dieteticallyspeaking.com/wp-content/uploads/2017/01/profile-square.jpg" alt="" class="avatar-small">
               </div>
               <div class="review-text">
                 <div class="d-flex justify-content-between align-items-center">
                   <h6 class="mb-0"> <strong>Bruna</strong></h6>
                     <div class="numbers">
                       <i class="fas fa-star fa-xs"></i>
                       <i class="fas fa-star fa-xs"></i>
                       <i class="fas fa-star fa-xs"></i>
                       <i class="fas fa-star fa-xs"></i>
                       <i class="fas fa-star fa-xs"></i>
                     </div>
                 </div>
                   <p class="pt-2">Amazing experience, i'll definitely use Helio again</p>
               </div>
             </div>
           </div>
         </div>
         <div class="col-12">
           <div class="general-card review-card p-1 w-100">
             <div class="d-flex justify-content-center">
               <div class="d-flex align-items-center review-pic">
                 <img src="https://dieteticallyspeaking.com/wp-content/uploads/2017/01/profile-square.jpg" alt="" class="avatar-small">
               </div>
               <div class="review-text">
                 <div class="d-flex justify-content-between align-items-center">
                   <h6 class="mb-0"> <strong>Bruna</strong></h6>
                     <div class="numbers">
                       <i class="fas fa-star fa-xs"></i>
                       <i class="fas fa-star fa-xs"></i>
                       <i class="fas fa-star fa-xs"></i>
                       <i class="fas fa-star fa-xs"></i>
                       <i class="fas fa-star fa-xs"></i>
                     </div>
                 </div>
                   <p class="pt-2">Amazing experience, i'll definitely use Helio again</p>
               </div>
             </div>
           </div>
         </div>
        <%#= link_to "Add a review", new_booking_review_path(@booking.iteration.event) %>



    </div>
</div>
