
<%= content_for(:head) do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>


<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @event.photo.key %>')"></div>
<div class="container bg-white">
  <div class="row">
    <div class="col-12">
      <h4 class="px-2 pt-4 mb-4 title-event"><%= @event.title %></h4>
      <div class="mb-3 p-2 mt-2">
        <div class="d-flex justify-content-between mb-4">
          <p class="details"><%= @event.language.capitalize %></p>
          <p class="details"><%= @event.category.name %></p>
          <p class="details"><%= @event.audience.capitalize %></p>
        </div>
        <div>
          <% if @event.description.length > 250 %>
            <div id="event-description" data-description="<%= @event.description %>">
              <%= truncate(@event.description, length: 250) %>
            </div>
            <div class="read-more">Read more</div>
          <% else %>
            <%= @event.description %>
          <% end %>
        </div>
        <div class="sharethis-inline-share-buttons py-3"></div>
      </div>
      <div class="p-3 mt-3">
        <p><i class="fas fa-map-marker-alt pr-2"></i><%= @event.address %></p>
      </div>
    </div>
  </div>
</div>
<div id="map" class="map-show-page" style="width: 100vw; height: 50vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="container bg-white">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-5 mb-3 title">Reviews</h2>
      <% if @reviews.count == 0 %>
      <p class="pb-4">This event doesn't have any reviews yet.</p>
      <% else %>
        <% @reviews.each do |r| %>
        <div class="col-12">
          <div class="general-card review-card p-1 w-100">
            <div class="d-flex justify-content-center">
              <div class="d-flex align-items-center review-pic">
                <%= cl_image_tag  r.booking.user.avatar.key, class: "avatar-small"%>
              </div>
              <div class="review-text">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="mb-0"> <strong><%= r.booking.user.first_name %></strong></h6>
                    <div class="numbers">
                    <div>
                      <%# <span class="fa fa-star checked" data-action="click->reviews#changeRating"  data-value="2" data-reviews-target="stars"></span>
                      <span class="fa fa-star checked" data-action="click->reviews#changeRating" data-value="3" data-reviews-target="stars"></span>
                      <span class="fa fa-star" data-action="click->reviews#changeRating" data-value="4" data-reviews-target="stars"></span>
                      <span class="fa fa-star" data-action="click->reviews#changeRating" data-value="5" data-reviews-target="stars"></span> %>
                    
                      <%= ('<i class="fas fa-star fa-xs"></i>' * r.rating).html_safe %>

                    </div>
                    </div>
                </div>
                  <p><%= r.description.truncate(60, omission: '...')  %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer"  %>


