<div class= "navbar-desktop">
  <nav class="navbar navbar-expand fixed-top">
      <div class="navbar-brand pt-0">
        <%= link_to "helio", root_path, class: "navbar-brand pt-0" %>
      </div>

      <ul class="navbar-nav ml-auto align-content-right mr-5">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link button-secondary ml-1" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link button-secondary ml-1" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link button-secondary ml-1" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", user_session_path, class: "nav-link button-secondary ml-1" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link button-secondary ml-1" %>
          </li>
        <% end %>
      </ul>
  </nav>
</div>

<div class="container p-4">
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12" style="margin: 0 auto">

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item-dash">
          <a class="nav-link active" id="pills-upcoming-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Próximos eventos</a>
        </li>
        <li class="nav-item-dash">
          <a class="nav-link" id="pills-past-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Eventos pasados</a>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <% @upcoming_bookings.each do |booking| %>
            <div class="card-product my-3">
              <div class="countdown <%= "soon" if booking.event_is_tomorrow? %>" data-start-date="<%= booking.iteration.start_date.strftime('%FT%T%:z') %>">
                <h6 class="days">6d</h6>
                <h5><strong class="time">20:35</strong></h5>
                <h6 class="seconds">45s</h6>
              </div>
              <div class="my-3">
                <div class="card-product-info">
                  <% if booking.event_is_tomorrow? %>
                    <h5><%= link_to booking.iteration.event.title, event_path(booking.iteration.event) %></h5>
                    <p><%=link_to "See ticket", booking_path(booking, format: :pdf), target: "_blank" %></p>
                  <% else %>
                    <h5>SORPRESA!</h5>
                    <p>"Tiempo hasta tu experiencia Helio!"</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div>
            <% if @past_bookings.count == 0 %>
              <p>Aún no has ido a ningún evento con Helio.</p>
            <% end %>
            <% @past_bookings.each do |booking| %>
              <div class="dashboard-card">
                <div class="dashboard-card-image" style="background-image: url(<%= cl_image_path booking.iteration.event.photo.key %>)"></div>
                  <div class="dashboard-card-info">
                    <h5 class="mb-3"><%= link_to booking.iteration.event.title, event_path(booking.iteration.event), class: 'past-event-link' %></h5>
                    <% if booking.review.nil?%>
                      <i class="fas fa-pencil-alt mr-2"></i><%= link_to "Write a review  ", new_booking_review_path(booking), class: 'past-event-link' %>
                    <% end %>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>









