<div class="container p-4">
  <div class="row">
    <!-- Upcoming Events -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2 class="mb-4 title">Upcoming Events</h2>
      <% @upcoming_bookings.each do |booking| %>
        <div class="general-card card-product my-3">
          <!-- First Card with black background and countdown -->
          <div class="countdown <%= "soon" if booking.event_is_tomorrow? %>" data-start-date="<%= booking.iteration.start_date %>">
            <h6 class="days">6d</h6>
            <h5><strong class="time">20:35</strong></h5>
            <h6 class="seconds">45s</h6>
          </div>
          <div class="my-3">
            <div class="card-product-info">
              <% if booking.event_is_tomorrow? %>
                <h5><%= link_to booking.iteration.event.title, event_path(booking.iteration.event) %></h5>
                <p>less than 24 hours for your Helio experience!</p>
              <% else %>
                <h5>Surprise, surprise!</h5>
                <p>Time until your next Helio experience!</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Past Events -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2 class="mb-4 title">Past Events</h2>
      <% if @upcoming_bookings.count == 0 %>
        <p>You have not being to an experience yet.</p>
      <% end %>
      <!-- Past Card, with picture and link to review -->
      
      <% @upcoming_bookings.each do |booking| %>
        <div class="general-card card-product my-3">
          <div class="my-3">
            <div class="card-product">
              <div class="event-image" style="background-image: url(<%= cl_image_path booking.iteration.event.photo.key %>)">
              </div>

              <div class="ml-3 flex-grow-1">
                <h5 class="mb-3"><%= link_to booking.iteration.event.title.truncate(24), event_path(booking.iteration.event) %></h5>
                <%= link_to "Write a review", booking_reviews_path(booking), class: "button-rounded" %>
              </div>       
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer"  %>



