<div class="home-banner">
  <div class= "text-home pl-4">
    <h1>Discover surprise cultural experiences</h1>
    <h4 class="text-align-left">Have all details 24h before it starts</h4>
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-12 mt-4 ">
        <div class = "center-block">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="form-tag" >
              <a class="active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Book</a>
            </li>
            <li class="form-tag">
              <a class="" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Buy as a gift</a>
            </li>
          </ul>
          <div class="tab-content p-3" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <%= simple_form_for @booking_initial_data, url: booking_initial_data_path do |f|%>
                <%= f.input :city, label: "Which City?", collection: ["Madrid", "Barcelona"] %>
                <%= f.input :participants, label: "How many people?", collection: ["1", "2", "3", "4"] %>
                <%= f.button :submit, 'GET STARTED', class: "btn btn-primary w-100"%>
              <% end %>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <%= simple_form_for @booking_initial_data, url: booking_initial_data_path do |f|%>
                <%= f.input :city, label: "Which City?", collection: ["Madrid", "Barcelona"] %>
                <%= f.input :participants, label: "How many people?", collection: ["1", "2", "3", "4"] %>
                <%= f.input :guest_email, label: "Guest Email: (Person receiving the gift, will only receive emails once bookings is confirmed)" %>
                <%= f.button :submit, 'GET STARTED', class: "btn btn-primary w-100"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pb-4">
  <h2 class="ml-2 mt-5 mb-3 title">How does Helio work?</h2>
  <div class="row">
    <div class="col-12">
      <div class="general-card instructions-card mb-3 mx-2">
        <div class="d-flex">
          <h5 class="steps"> 1. </h5>
          <h5 class="ml-2">Choose a City</h5>
        </div>
        <p>Pick your city, pick your place and find where you want to go!</p>
      </div>
    </div>
    <div class="col-12">
      <div class="general-card instructions-card mb-3 mx-2">
        <div class="d-flex">
          <h5 class="steps"> 2. </h5>
          <h5 class="ml-2">Select your preferences</h5>
        </div>
        <p>Find what you like, and remove what you don't - it's that simple.</p>
      </div>
    </div>
    <div class="col-12">
      <div class="general-card instructions-card mb-3 mx-2">
        <div class="d-flex">
          <h5 class="steps"> 3. </h5>
          <h5 class="ml-2">Have fun!</h5>
        </div>
        <p>Have a great time with you and your special ones!</p>
      </div>
    </div>
    <div class="col-12">
      <%= link_to "Get Started", root_path, class: "btn btn-primary d-block mt-2 mx-2" %>
    </div>
    <h2 class="mt-5 mb-3 ml-3 title">Past Events</h2>
    <div class="col-12">
        <% i = 0 %>
        <% @events.each do |event| %>
          <% i = i + 1 %>
          <% if i <= 3 %>
            <div class="col-12 mb-3 opacity-animation" data-category="<%= event.category.id %>" data-events-target="listItems" >
              <div class="general-card event-title event-card p-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path event.photo.key %>')">
                <h4 class="past-event-card-home"><%= event.title %></h4>
                <p><%= event.description.truncate(70) %></p>
                <div class="d-flex justify-content-between">
                  <a href="events/<%=event.id%>"><i class="fas fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

    <div class="col-12 linky">
      <%= link_to "See all Past Events →", events_path, class: "ml-3" %>
    </div>
      <h2 class="mt-5 mb-3 ml-3 title">Reviews</h2>
        <% @reviews.each do |r| %>
          <div class="col-12">
            <div class="general-card review-card p-1 w-100">
              <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center review-pic">
                  <%= cl_image_tag  r.booking.user.avatar.key, class: "avatar-small"%>
                </div>
                <div class="review-text">
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0"> <strong><%= r.booking.user.first_name %></strong></h6>
                      <div class="numbers">
                        <%= '<i class="fas fa-star fa-xs"></i>'.html_safe * r.rating %>
                      </div>
                  </div>
                    <p><%= r.description.truncate(60, omission: '...')  %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="col-12 mt-3 w-100">
          <%= link_to "Get Started", root_path, class: "btn btn-primary d-block mt-2 " %>
        </div>
    </div>
  </div>
</div>
<%= render "shared/footer"  %>
