<div class="home-banner">
  <div class= "text-home pl-4">
    <h1>Experiencias culturales sorpresa</h1>
    <h4 class="text-align-left">Descubre tu evento 24 horas antes de que empiece</h4>
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-12 mt-4 ">
        <div class = "center-block">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="form-tag" >
              <a class="active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Reservar</a>
            </li>
            <li class="form-tag">
              <a class="" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Regalar</a>
            </li>
          </ul>
          <div class="tab-content p-3" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <%= simple_form_for @booking_initial_data, url: booking_initial_data_path do |f|%>
                <%= f.input :city, label: "¿Qué ciudad?", collection: ["Barcelona","Madrid"] %>
                <%= f.input :participants, label: "¿Cuántos sóis?", collection: ["1", "2", "3", "4"] %>
                <%= f.button :submit, 'EMPEZAR', class: "btn btn-primary w-100"%>
              <% end %>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <%= simple_form_for @booking_initial_data, url: booking_initial_data_path do |f|%>
                <%= f.input :city, label: "¿Qué ciudad?", collection: ["Madrid", "Barcelona"] %>
                <%= f.input :participants, label: "¿Cuántos sóis?", collection: ["1", "2", "3", "4"] %>
                <%= f.input :guest_email, label: "Email del invitado" %>
                <%= f.button :submit, 'EMPEZAR', class: "btn btn-primary w-100"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="home-banner-desktop">
  <div class= "text-home-desktop pl-4">
    <h1>Experiencias culturales sorpresa</h1>
    <h4 class="text-align-left">Descubre tu evento 24 horas antes de que empiece</h4>
  </div>


      
  <div class="container desktop-banner">
    <div class="col-4">
      <ul class="nav nav-pills " id="pills-tab" role="tablist">
        <li class="form-tag" >
            <a class="active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Reservar</a>
        </li>
        <li class="form-tag">
            <a class="" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Regalar</a>
        </li>
      </ul>
    </div>

    <div class="desktop-booking">      
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <%= simple_form_for @booking_initial_data, url: booking_initial_data_path do |f|%>
            <div class="row">
              <div class="col border-right">
                <%= f.input :city, label: "¿Qué ciudad?", collection: ["Barcelona","Madrid"] %>            
              </div>
              <div class="col border-right">
                <%= f.input :participants, label: "¿Cuántos sóis?", collection: ["1", "2", "3", "4"] %>          
              </div>
              <div class="col button-desktop">
                <%= f.button :submit, 'EMPEZAR', class: "btn btn-primary w-100"%>            
              </div>
            </div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <%= simple_form_for @booking_initial_data, url: booking_initial_data_path do |f|%>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <%= f.input :city, label: "¿Qué ciudad?", collection: ["Madrid", "Barcelona"] %>          
                  </div>
                  <div class="col">
                    <%= f.input :participants, label: "¿Cuántos sóis?", collection: ["1", "2", "3", "4"] %> 
                  </div>
                  <div class="col">
                    <%= f.input :guest_email, label: "Email del invitado" %>
                  </div>
                  <div class="col">
                    <%= f.button :submit, 'EMPEZAR', class: "btn btn-primary w-100"%>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>  
    </div>
  </div>
</div>

<div class="container pb-4">
  <h2 class="ml-2 mt-4 mb-3 title">¿Cómo funciona Helio?</h2>
  <div class="row">
    <div class="col-12">
      <div class="general-card instructions-card mb-3 mx-2">
        <div class="d-flex">
          <h5 class="steps"> 1. </h5>
          <h5 class="ml-2">Escoje la ciudad</h5>
        </div>
        <p>Escoje la ciudad dónde quieres disfrutar de tu experiencia</p>
      </div>
    </div>
    <div class="col-12">
      <div class="general-card instructions-card mb-3 mx-2">
        <div class="d-flex">
          <h5 class="steps"> 2. </h5>
          <h5 class="ml-2">Selecciona tus preferencias</h5>
        </div>
        <p>Escoje lo que te gusta y descarta lo que no te gusta - así de fácil.</p>
      </div>
    </div>
    <div class="col-12">
      <div class="general-card instructions-card mb-3 mx-2">
        <div class="d-flex">
          <h5 class="steps"> 3. </h5>
          <h5 class="ml-2">¡A disfrutar!</h5>
        </div>
        <p>Pásatelo bien con los tuyos y disfruta de la mejor experiencia Helio.</p>
      </div>
    </div>
    <div class="col-12 mt-3">
      <%= link_to "EMPEZAR", root_path, class: "btn btn-primary d-block mt-2 mx-2" %>
    </div>
    <h2 class="mt-5 mb-3 ml-4 title">Eventos Pasados</h2>
    <div class="col-12">
        <% i = 0 %>
        <% @events.each do |event| %>
          <% i = i + 1 %>
          <% if i <= 3 %>
            <div class="col-12 mb-3 opacity-animation" data-category="<%= event.category.id %>" data-events-target="listItems" >
              <div class="general-card event-title event-card p-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path event.photo.key %>')">
                <h4 class="past-event-card-home"><%= event.title %></h4>
                <p><%= event.description.truncate(70) %></p>
                <div class="d-flex justify-content-between">
                  <a href="events/<%=event.id%>"><i class="fas fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

    <div class="col-12 linky">
      <%= link_to "Ver más eventos pasados →", events_path, class: "ml-3" %>
    </div>
      <h2 class="mt-5 mb-3 ml-3 title">¿Qué dicen sobre Helio?</h2>
        <% @reviews.each do |r| %>
          <%= render "reviews/card", r: r %>
        <% end %>

        <div class="col-12 mt-5 w-100">
          <%= link_to "EMPEZAR", root_path, class: "btn btn-primary d-block mt-2 " %>
        </div>
    </div>
  </div>
</div>
<%= render "shared/footer"  %>
