<div class="d-flex justify-content-around background">
  <div class="general-card summary">
    <h2>Order Summary</h2>
    <p>Your event will be happening between the <%= @booking.start_date %> and <%= @booking.end_date %> in <%= @booking.city%>.</p>
    <div class="d-flex language">
      <p>Language preferences:&nbsp;</p>
      <% @booking.languages.each do |l|  %>
        <%= l.capitalize %>
      <% end %>
    </div>
    <div class="d-flex audience">
      <p>Audience type:&nbsp;</p>
      <% @booking.audiences.each do |a| %>
        <%= a.capitalize %>
      <% end %>
    </div>
    <div >
      <p>Total price:&nbsp; <%= @booking.budget %>€ x <%= @booking.participants %> =&nbsp;<%= @booking.budget * @booking.participants %>€</p>
    </div>
    <p>To finalize your order, please proceed to payment.</p>
    <p>Further info will follow 24h before your event. Until then, enjoy the suspence!</p>
  </div>
</div>
<button class= "button-rounded d-block btn-budget pay-btn">
  PAY
</button>
<script src="https://js.stripe.com/v3/"></script>
<script>
  const paymentButton = document.querySelector(".pay-btn");
  paymentButton.addEventListener('click', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @booking.checkout_session_id %>'
    });
  });
</script>


