<div class= "navbar-desktop">
  <nav class="navbar navbar-expand fixed-top">
    <div class="navbar-brand pt-0">
      <%= link_to "helio", root_path, class: "navbar-brand pt-0" %>
    </div>
    <ul class="navbar-nav ml-auto align-content-right mr-5">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link button-secondary ml-1" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", user_session_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link button-secondary ml-1" %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>

<div class="container reviews-new" data-controller="reviews">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-8 my-5">
      <h3 class="mb-3">How was your experience with Helio?</h3>
      <h4 class="my-3">Rate your experience:</h4>
      <%= simple_form_for [@booking, @review] do |f| %>
        <%= f.input :rating, as: :hidden, input_html: { value: 3 }, class: "my-2"%>
        <div style="margin: 40px auto">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <div class="d-flex justify-content-between">
            <i class="fa fa-star checked fa-2x" data-action="click->reviews#changeRating"  data-value="1" data-reviews-target="stars"></i>
            <i class="fa fa-star checked fa-2x" data-action="click->reviews#changeRating"  data-value="2" data-reviews-target="stars"></i>
            <i class="fa fa-star checked fa-2x" data-action="click->reviews#changeRating" data-value="3" data-reviews-target="stars"></i>
            <i class="fa fa-star fa-2x" data-action="click->reviews#changeRating" data-value="4" data-reviews-target="stars"></i>
            <i class="fa fa-star fa-2x" data-action="click->reviews#changeRating" data-value="5" data-reviews-target="stars"></i>
          </div>
        </div>
        <div>
         <h4><%= f.input :description, as: :text, class: "mr-4" %></h4>
          <%=  f.submit class: "review-btn mb-4" %>
        </div>
      <% end %>
      <h4><%= link_to '<i class="fas fa-undo-alt"></i> Back'.html_safe, dashboard_path, class: "text-dark" %></h4>
    </div>
  </div>
</div>
