<div class="container reviews-new" data-controller="reviews">
  <div class="row">
    <div class="col-12 mt-4">
      <div>
        <h2>Cómo fué tu experiencia con Helio ?</h2>
      </div>
    </div>
    <div class="col-12">
      <%= simple_form_for [@booking, @review] do |f| %>

        <%= f.input :rating, as: :hidden, input_html: { value: 3 }%>

        <div class="my-3">
          <h4>Valora tu experiencia:</h4>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <div class="d-flex justify-content-around">
            <i class="fa fa-star checked fa-2x" data-action="click->reviews#changeRating"  data-value="1" data-reviews-target="stars"></i>
            <i class="fa fa-star checked fa-2x" data-action="click->reviews#changeRating"  data-value="2" data-reviews-target="stars"></i>
            <i class="fa fa-star checked fa-2x" data-action="click->reviews#changeRating" data-value="3" data-reviews-target="stars"></i>
            <i class="fa fa-star fa-2x" data-action="click->reviews#changeRating" data-value="4" data-reviews-target="stars"></i>
            <i class="fa fa-star fa-2x" data-action="click->reviews#changeRating" data-value="5" data-reviews-target="stars"></i>

          </div>
        </div>
        <div class = "my-3 py-3">
         <h4><%= f.input :description, as: :text %></h4>
          <%=  f.submit class: "button-rounded mb-3"%>
          <h4><%= link_to '<i class="fas fa-undo-alt"></i> Back'.html_safe, dashboard_path %></h4>
        </div>

      <% end %>
    </div>
  </div>
</div>
