<div class= "navbar-desktop">
  <nav class="navbar navbar-expand fixed-top">
    <div class="navbar-brand pt-0">
      <%= link_to "helio", root_path, class: "navbar-brand pt-0" %>
    </div>
    <ul class="navbar-nav ml-auto align-content-right mr-5">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link button-secondary ml-1" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", user_session_path, class: "nav-link button-secondary ml-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link button-secondary ml-1" %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>

<div class="pick-dates">
  <%= render "shared/progressbar", step: 1 %>
  <div class="booking-container">
    <h3>Escoje fechas</h3>
    <p class="mb-0 mt-2">El dia del evento estará comprendido dentro del rango de fechas que selecciones.</p>
    <%= simple_form_for @booking_dates do |f| %>
      <%= f.input :dates, label: false, input_html: {class: "datepicker hidden"} %>
      <input class="button-rounded fixed-button" type="submit" value="SIGUIENTE" name="commit">
    <% end %>
  </div>
</div>

<div class="pick-dates-desktop">
  <%= render "shared/progressbar", step: 1 %>
  <div class="booking-container form-container-desktop">
    <div class="dates-form">
      <h3 class="mt-3">Escoje fechas</h3>
      <p class="mt-2">El dia del evento estará comprendido dentro del rango de fechas que selecciones.</p>
      <div class="calendar-desktop">
        <%= simple_form_for @booking_dates do |f| %>
          <%= f.input :dates, label: false, input_html: {class: "datepicker hidden"} %>
          <div class="button-desktop-dates">
            <input class="button-rounded-desktop fixed-button-desktop my-4" type="submit" value="SIGUIENTE" name="commit">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


