<!DOCTYPE html>
<html>
  <head>
    <title>HELIO - Descubre tu aventura 24 horas antes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield(:head) %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.3/rangeslider.css" integrity="sha512-FkNnPJevAkIHB3NqUiMadWNcoMcOCPQUMyF55JeAFZmPcSR6wK6TgZ0qL6bMrRqGNaaVS8CAwBYceORhdTUILQ==" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5fda247359355a00124f7dd7&product=inline-share-buttons" async="async" data-turbolinks-track="reload"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= favicon_link_tag %>
  </head>

  <style>


    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (max-width: 767px) {

      .home-banner-desktop{
        display: none;
      }
      .como-funciona-desktop{
        display: none;
      }
      .que-dicen-desktop{
        display: none;
      }
      .eventos-pasados-desktop{
        display: none;
      }
      .navbar-desktop{
        display: none;
      }
      .pick-dates-desktop{
        display: none;
      }
      .exclude-categories-desktop{
        display: none;
      }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 767px) {
      .home-banner{
        display: none;
      }
      .como-funciona{
        display: none;
      }

      .que-dicen{
        display: none;
      }
      .eventos-pasados{
        display: none;
      }
      .navbar-mobile{
        display: none;
      }
      .pick-dates{
        display: none;
      }
      .exclude-categories{
        display: none;
      }
    }
  
  </style>

  <body>
    


    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>


